################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RedisDemoApp/bin
/RedisDemoApp/obj/Debug
/RedisDemoApp/obj/Release
